/* rem and em do NOT depend on HTML font-size in media queries 
instead, 1rem = 1em = 16px */

/* rem has some bugs in some browsers when used in media
 queries, so use em */

/**************************************/
/* L -- BELOW 1200 */
/**************************************/

/* 1200px / 16px = 75 */
@media (max-width: 75em) {
}

/**************************************/
/* M -- BELOW 992 */
/**************************************/

/* 992px / 16px = 62 */
@media (max-width: 62em) {
  h2 {
    font-size: 3.2rem;
  }

  .container {
    width: auto;
    padding: 0 0;
  }

  .hero-frame {
    padding: 0.4rem 0;
    border: none;
  }

  .ornament {
    display: none;
  }

  article {
    border: none;
    padding: 0;
    border-bottom: 1px dashed var(--dark-text-muted);
    box-shadow: none;
  }

  article:last-child {
    border-bottom: none;
  }

  .container--content {
    padding: 3.2rem;
    grid-template-columns: 1fr;
  }

  footer.container {
    margin-top: 0;
  }
}

/**************************************/
/* S -- BELOW 768 */
/**************************************/

/* 768px / 16px = 48 */
@media (max-width: 48em) {
  .header-text span {
    font-size: 1.2rem;
  }

  #controls h1 {
    font-size: 4.8rem;
  }

  #controls p {
    font-size: 1.6rem;
  }

  .control-share-buttons {
    flex-direction: column;
  }

  h2 {
    font-size: 2.4rem;
  }

  p {
    font-size: 1.4rem;
  }

  li {
    font-size: 1.4rem;
  }
}
