/* GENERAL */

* {
  margin: 0;
  padding: 0;
  list-style: none;
  /* border: 1px solid red !important; */
}

html {
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: 'Merriweather', serif;
  background-color: #f8f8f8;
  color: #444444;
}

p,
li {
  line-height: 1.6;
}

.container {
  opacity: 0;
  transition: opacity 1s;
}

.fade-in {
  opacity: 1;
}

.muted {
  opacity: 0.5;
}

.hidden {
  display: none;
}

.btn {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.2rem 2rem;
  cursor: pointer;

  color: #f8f8f8;
  background-color: rgb(51, 51, 51, 1);
  text-decoration: none;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 25px 0px;
  transition: box-shadow 1s;
}

.btn:hover {
  background-color: rgb(51, 51, 51, 0.95);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 25px 0px;
  transition: box-shadow 1s;
}

.name,
.parent-entity,
.capital-city {
  text-transform: capitalize;
  font-weight: bold;
}

.container {
  width: 96rem;
  margin: 0 auto;
  padding: 3.2rem;
}

/* HEADER */

header.container {
  justify-content: center;
  color: rgba(0, 0, 0, 0.5);
  padding: 2rem 0;
  margin-bottom: 2rem;
  display: flex;
  gap: 1.2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* CONTROLS */

section.container--controls {
  padding: 8rem 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#controls h1 {
  text-align: center;
  font-size: 6.4rem;
}

#controls p {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 4rem;
}

/* HERO */

.hero-frame {
  padding: 0.4rem;
  border: 1px solid rgb(68, 68, 68, 0.1);
}

#hero {
  height: 32rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: white;
}

#hero h1 .name {
  font-size: 6.4rem;
  font-family: 'Lobster Two', cursive;
  font-weight: 400;
}

/* CONTENT */
.container--content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.4rem;
}

article {
  display: flex;
  flex-direction: column;
  padding: 3.2rem;
  border: 1px dashed #444444;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px 0px;
}

article.big {
  grid-row-end: span 2;
}

article h2 {
  margin-bottom: 2.4rem;
}

article li {
  margin-bottom: 1.8rem;
}

article li h3 {
  opacity: 0.6;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  margin-bottom: 0.4rem;
}

article li i {
  color: #444444;
  margin-right: 0.4rem;
}

/* FOOTER */
footer.container {
  justify-content: center;
  color: rgba(0, 0, 0, 0.5);
  padding: 2rem 0;
  margin-top: 2rem;
  display: flex;
  gap: 1.2rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
